body, html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  background-color: #f0eeee;
  font-family: "Lucida Grande", Helvetica, Verdana, Arial;
  color: #555555;
  font-size: 12px;
  overflow: hidden; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  border: 1px solid #e9eaec; }

input {
  color: #555555; }

button {
  display: inline-block;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 11px;
  border: 1px solid #cacaca;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #e2e2e2;
  background: -moz-linear-gradient(#f0f0f0, #e2e2e2);
  background: -webkit-linear-gradient(#f0f0f0, #e2e2e2); }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

#container {
  width: 100%;
  height: 100%; }

#topheader {
  width: 100%;
  height: 56px;
  color: gray;
  border-top: solid 1px #d3d3d3;
  border-bottom: solid 1px black;
  background: #393939;
  background: -moz-linear-gradient(#7b7979, #393939);
  background: -webkit-linear-gradient(#7b7979, #393939); }
  #topheader button {
    color: black;
    border: 1px solid black;
    background: #7f82ac;
    background: -moz-linear-gradient(#b2b3d7, #7f82ac);
    background: -webkit-linear-gradient(#b2b3d7, #7f82ac); }

#branding, #steps, #rightheader {
  float: left;
  overflow: hidden;
  height: 35px;
  padding: 10px 11px; }

#branding {
  border-right: 1px solid #373737;
  text-align: center; }
  #branding img {
    height: 32px;
    width: 116px; }

#steps {
  padding: 11px 15px;
  border-right: solid 1px #3b3b3b;
  vertical-align: top; }
  #steps label {
    width: 80px;
    background-color: "";
    background-image: url("../img/steps-bg.png");
    border-bottom: solid 1px #5c5c5c;
    border-top: solid 1px #373737;
    vertical-align: top; }
    #steps label:first-child {
      border-left: solid 1px #373737; }
    #steps label:last-child {
      border-right: solid 1px #373737; }
  #steps span {
    padding: 2px 6px; }
  #steps img {
    height: 32px; }
  #steps .ui-button, #steps .ui-button-text-only {
    height: 30px;
    margin: 0 -4px; }

#neworder-button {
  width: 32px;
  padding: 1px;
  font-size: 23px; }

#loggedas {
  float: right;
  padding: 6px 11px;
  text-align: center;
  color: white;
  border-left: 1px solid #373737; }
  #loggedas p {
    margin: 0 0 3px 0; }

#leftpane {
  display: inline-block;
  width: 442px;
  min-height: 100%;
  position: relative;
  border-right: solid 1px #afafb6;
  background-color: white; }
  #leftpane content {
    padding-bottom: 318px;
    width: 100%; }
  #leftpane footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: -318px;
    height: 318px;
    width: 100%;
    background-color: #e0e0e0;
    background-image: url(../img/headerbackground.jpg); }

#receipt thead {
  background-color: #cccccc;
  background-image: url(../img/headerbackground.jpg);
  border: 0px;
  font-size: 13px; }
  #receipt thead th {
    text-align: center;
    padding: 9px 0px; }
#receipt td {
  width: 52px;
  padding: 6px;
  font-size: 12px;
  text-align: right; }
  #receipt td:first-child {
    width: 300px;
    text-align: left; }
  #receipt td:last-child {
    border-right: none; }
#receipt tr.selected {
  background-color: #e9eaf2; }
  #receipt tr.selected td {
    border-top: 2px solid #d5d6e0;
    border-bottom: 1px solid #d5d6e0;
    padding-top: 5px;
    color: #555555; }

#amounts {
  background: white;
  border-bottom: solid 1px #d2d2d2;
  border-top: solid 1px #e9eaec;
  color: #a5a5a5;
  font-weight: bold;
  text-align: right;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }
  #amounts li {
    display: inline-block;
    padding: 8px;
    width: 100px; }
  #amounts span.amount {
    color: #666666;
    font-size: 14px; }

.numpad {
  padding: 9px 11px;
  float: right;
  text-align: center; }
  .numpad button {
    height: 52px;
    width: 53px;
    margin: 0 -3px;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    border-top: 1px solid #efefef; }
    .numpad button:hover {
      color: white;
      background: #7f82ac;
      background: -moz-linear-gradient(#9d9fc5, #7f82ac);
      background: -webkit-linear-gradient(#9d9fc5, #7f82ac); }

#rightpane {
  display: inline-block;
  min-height: 100%;
  vertical-align: top;
  margin-left: -3px; }
  #rightpane header {
    padding: 0;
    height: 34px;
    border-bottom: 1px solid #cecbcb;
    background: #d3d3d3;
    background: -moz-linear-gradient(white, #d3d3d3);
    background: -webkit-linear-gradient(white, #d3d3d3); }

.breadcrum {
  display: inline-block;
  margin-top: 1px; }
  .breadcrum li {
    float: left;
    display: inline-block; }
  .breadcrum a {
    float: left;
    display: block;
    height: 31px;
    line-height: 31px;
    padding: 0 10px;
    text-shadow: #f7f7f7 0 1px 1px;
    text-decoration: none;
    color: #555555;
    font-weight: bold; }
    .breadcrum a:last-child {
      padding-right: 15px;
      border-right: 2px dotted #c5c5c5; }

.homeimg {
  width: 20px;
  height: 20px;
  vertical-align: middle; }

.bc-arrow {
  height: 33px; }

input.searchbox {
  float: right;
  width: 130px;
  font-size: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #cecbcb;
  padding: 3px 19px;
  margin: 6px;
  background: url("../img/search.png") no-repeat 5px;
  background-color: white; }

#categories {
  padding: 4px 6px;
  border-bottom: 1px solid #cecbcb; }
  #categories h4 {
    display: inline; }
  #categories ol {
    display: inline; }
  #categories li {
    display: inline-block; }

#products div {
  width: 110px;
  height: 100px; }

#login-form label, #login-form input {
  display: block; }
#login-form input {
  margin: 4px 0 12px;
  padding: 4px;
  width: 96%; }
