<!DOCTYPE html>
<html>
<head>
  <title>Point of Sale</title>
  <link rel="stylesheet" href="/point_of_sale/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/point_of_sale/static/css/pos.css">
  <script src="/base/static/src/js/base.js"></script>
  <script src="/base/static/src/js/chrome.js"></script>
  <script src="/base/static/src/js/data.js"></script>
  <script src="/base/static/src/js/dates.js"></script>
  <script src="/point_of_sale/static/js/jquery-1.6.2.min.js"></script>
  <script src="/point_of_sale/static/js/jquery-ui.min.js"></script>
  <script src="/point_of_sale/static/js/underscore-1.1.7.min.js"></script>
  <script src="/point_of_sale/static/js/json2.js"></script>
  <script src="/point_of_sale/static/js/backbone-0.5.1.min.js"></script>
  <script src="/point_of_sale/static/js/pos.js"></script>
</head>
<body>
  <header id="topheader">
    <div id="branding"><img src="/point_of_sale/static/img/logo.png" /></div>
    <div id='steps'>
      <input type="radio" id="radio1" name="radio" checked="checked" /><label for="radio1">Products</label>
      <img src="/point_of_sale/static/img/steps-arrow.png">
      <input type="radio" id="radio2" name="radio" /><label for="radio2">Payment</label>
      <img src="/point_of_sale/static/img/steps-arrow.png">
      <input type="radio" id="radio3" name="radio" /><label for="radio3">Receipt</label>
    </div>			
    <div id='rightheader'>
      <div id='orderstack'></div>
      <button id="neworder-button">+</button>
    </div>
    <div id='loggedas'>
      <p>Minh Tran</p>
      <button>Logout</button>
    </div>  
  </header>
  <content>

    <div id='leftpane'>
      <content>
        <table id='receipt'>
          <!--<tr><td><button id="upscroll"></button><button id="downscroll"></button></td>-->
          <thead>
            <tr>
              <th></th>
              <th>Price</th>
              <th>Qty</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Seagate 120GB</td>
              <td>75 &euro;</td>
              <td>2</td>
              <td>150 &euro;</td>
            </tr>
            <tr class="selected">
              <td>AMD Athlon XP 2200+</td>
              <td>180 &euro;</td>
              <td>1</td>
              <td>180 &euro;</td>
            </tr>
            <tr>
              <td>Foobar</td>
              <td>1800 &euro;</td>
              <td>10</td>
              <td>18000 &euro;</td>
            </tr>
          </tbody>
        </table>
      </content>
      <footer>
        <ul id='amounts'>
          <li> Subtotal: <span class="amount">0 &euro;</span></li>
          <li> Taxes: <span class="amount">0 &euro;</span></li>
          <li> Total: <span class="amount">0 &euro;</span></li>
        </ul>
        <ul id='paypad'>
        </ul>
        <div class='numpad'>
          <button id='numpad-1'>1</button>
          <button id='numpad-2'>2</button>
          <button id='numpad-3'>3</button><br>
          <button id='numpad-4'>4</button>
          <button id='numpad-5'>5</button>
          <button id='numpad-6'>6</button><br>
          <button id='numpad-7'>7</button>
          <button id='numpad-8'>8</button>
          <button id='numpad-9'>9</button><br>
          <button id='numpad-0'>0</button>
          <button id='numpad-coma'>.</button>
          <button id='numpad-del'>
            <img src="/point_of_sale/static/img/backspace.png" width="24" height="21">
          </button>
        </div>
      </footer>
    </div>

    <div id='rightpane'>
    </div>

  </content>

  <script type="text/template" id="category-template" >
    <header>
      <ol class="breadcrum">
        <li>
          <a href="#"><img src="/point_of_sale/static/img/home.png" class="homeimg"></a>
        </li>
        <% _.each(breadcrumb, function(category) { %>
          <li>
            <img src="/point_of_sale/static/img/bc-arrow.png" class="bc-arrow">
            <a href="#category/<%= category.id %>"><%= category.name %></a>
          </li>
        <% }); %>
      </ol>
      <input class="searchbox" placeholder="Search Products">
    </header>
    <% if(categories.length) { %>
    <div id="categories">
      <h4>Categories:</h4>
      <ol>
        <% _.each(categories, function(category) { %>
        <li><a href="#category/<%= category.id %>" class="button"><%= category.name %></a></li>
        <% }); %>
      </ol>
    </div>
    <% } %>
  </script>

  <script type="text/template" id="product-template">
    <ol id="products">
      <% _.each(tracks, function(track) { %>
      <li>
        <div class="product-img"></div>
        <div class="product-name"></div>
      </li>
      <% }); %>
    </ol>
  </script>

</body>
</html>
